.form {	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 300px;	height: 250px;
	padding: 8px;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);


	
}

.formButtons {
	display: flex;
	justify-content: space-between;
}
.formButtons button {
	display: block;
}