
*{font-family: $font-title;  padding: 0; margin: 0;-webkit-box-sizing: border-box;box-sizing: border-box;font-weight: inherit;}
html {scroll-behavior: smooth;}

h3 {
    font-size: 24px;
    color: $black;
    text-align: center;
    font-family: $font-subtitle;
    &:first-letter {text-transform: uppercase;}
}
.title {
    font-size: 30px;
    color: $black;
    text-align: center;
    text-transform: uppercase;
    font-family:$font-text;
    font-weight: 700;    
    margin-top: 18px;&:after {
    content: "";
    display: block;
    margin: 42px auto 0;
    width: 60px;
    height: 3px;
    background:$strawberry;}}
    p {
    color: $grey;
    font-size: 14.5px;
    line-height: 24px;
    font-family: $font-title;
    font-weight: 400;}
    
    h4 {
        height: 14px;
        line-height: 14px;
        font-size: 14px;
        text-transform: uppercase;
        font-family: $font-text;
        color: $black;
        text-align: center;}