// FONTS
$font-subtitle: "Kaushan Script", cursive;
$font-text: "Montserrat", sans-serif;
$font-title:'Roboto', sans-serif;

// COLORS
$white: #fff;
$black: #333;
$grey: #a0a0a0;
$gradient: linear-gradient(rgba(239, 140, 138, .9), rgba(239, 213, 137, .9));
$strawberry: #f38181;
$input: #ccc;
$footer-before: #e5e5e5;
$green: #95e1d3;
$icon-hover:#f1d889;
$yellow:#efd789;
$link:#f9c6c6;
