*{
    font-family: 'Playfair Display', sans-serif;
    color: rgba(98, 98, 98, 255);
    }

header {
    padding-top: 77px;
}
li {
    display: inline-block;
    margin: 0 50px;
}

.list {
    display: inline-block;
}

.navigation a{
    text-decoration: none;
}

a:hover {
    color: rgba(3,169,244,1);
}
.navigation {
    text-align: center;
    font-size: 14px;
    list-style: none;
    margin: auto;
    margin-bottom: 103px;
}
.wrapper {
    margin: 0 auto;
    width: 1000px;
    font-size: 0;
    }
.card {
    width: 420px;
    height: 478px;
    margin-left: 60px;
    margin-bottom: 130px;
    display: inline-block;
    overflow: hidden;
}   
.cardDown {
    width: 420px;
    height: 478px;
    margin-left: 60px;
    display: inline-block;
    overflow: hidden;
}
.about {
    width: 414px;
    height: 63px;
    line-height: 23px;
    vertical-align: top;
    margin-top: 34px;
    font-size: 14px;
    text-align: left;
}
.title {
    margin-top: 28px;
    text-decoration: bold;
    font-size: 30px;
    text-align: left;
}
.sign {
    margin-top: 32px;
    font-family: "Ubuntu-Light", sans-serif;
    color: rgba(180, 173, 158, 255);
    text-align: left;
    width: 85px;
    height: 11px;
    font-size: 14px;
    text-transform: uppercase;
}
.button {
    margin: auto;
    text-align: center;
}
button {
    margin-top: 52px;
    margin-bottom: 70px;
    width: 164px;
    height: 60px;
    background-color: white;
    font-size: 20px;
    }