html {scroll-behavior: smooth;}
.wrapper {
    background: rgba(239, 208, 241, 0.493);
    margin: 0 auto;
    width: 1400px;
}


/* HEADER */
header{
    display: inline-flex;
    width: 1400px;
    /* justify-content: flex-end; */

    
}
.logo {
    display: inline-flex;
    margin-top: 44px;
    margin-left: 17%;
}
nav {
    margin-left: 26%;
}
ul{
    display: inline-flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 35%;
    }
li{
    margin-right: 40px;
    list-style: none;
}
a{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #222;
    text-transform: uppercase;
    text-decoration: none;
}
a:hover {
    color: #fed136;
}


/* MAIN */
h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #222;
    text-align: center;
    font-style: normal;
    font-weight: 700;
}

span {
    font-size: 16px;
    color: #777;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 300;
}
.sign {

    text-align: center;
}

/* SECTION-SERVICES */
h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    
}
.services-wrapper{
    width: 934px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.service{
    width: 275px;
}
.image {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 68px;
    border: 3px solid #fed136;
    border-radius: 50%;
}
.description {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #838383;
}
 /* SECTION-CONTACT-US */
#contact-form {
    height: 677px;
    background: url(/img/map.png) right center no-repeat #222; }

#contact-form h2 {color: #fff;}

table {
    margin: 75px auto 0;
    width: 940px;
    height: 306px;
    font-size: 14px;
    border: none;
    border-spacing: 30px 30px;
}
td {
    width: 455px;
    border: none;
    outline: none;
}

input {
    width: 100%;
    height: 50px;
    color: black;
    text-indent: 20px;
    border: none;
    border-radius: 4px;
    outline: none;}
td:nth-of-type(2){height: 210px;}
textarea {
    padding-top: 17px;
    width: 100%;
    height: 100%;
    color: black;
    text-indent: 20px;
    border-radius: 4px;
    border: none;
    outline: none;
}
input::placeholder, textarea::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    color: #ccc;
    text-transform: uppercase;
}
button{
    width: 240px;
    height: 65px;
    background-color: #fed136;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;    
    border-radius: 4px;
    border: none;
    outline: none;}
td:last-child{text-align: center;}

:required:focus{box-shadow: 0 0 2px 2px #fed136;}
input:focus{box-shadow: 0 0 2px 2px #fff;}
:required:invalid:not(:placeholder-shown){box-shadow: 0 0 2px 2px red;}
:required:valid:not(:placeholder-shown){box-shadow: 0 0 2px 2px green;}
