/* GLOBAL-SETTINGS */
html {
margin: 0;
padding: 0;
box-sizing: border-box;
}
*{
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    margin: 0 auto;
    max-width: 320px;
}
button {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}
button:hover{
    border: 3px solid #fff;
    border-radius: 20px;}
span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18.00883px;
    line-height: 1;
}
p {
    color: rgba(102, 102, 102);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 220px;
    margin: 20px auto;
}
h2 ,
h4 {
    color: rgba(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

/* SECTION-HEAD */
.head{
    padding: 21px;
    width: 280px;
    height: 500px;
    color: #fff;
    text-align: center;
    background: url(../img/background/mobile.png), #000;
    position: relative;
}
header {
top: 6.5%;
}
.logo {
    position: absolute;
    top: 31.73%;
    left: 22.36%;
}
.options {
    display: flex;
    justify-content: center;
}

.option {
    width: 90px;
    height: 36px;
}
.title {
    margin-top: 60.72%;
    width: 100%;
    height: 60px;
}
.horizontal {
    display: none;
}
.sign {
    margin: 5% auto;
    width: 80%;
}
.search {
    width: 280px;
    height: 40px;
    color: #fff;
    background: #ff4e50;
    border-radius: 20px;
}
.search:hover{
    background: transparent;
    border:3px solid #fff;}


/* SECTION-PARTNERS */
.partners {
    width: 100%;
    max-width: 280px;
    text-align: center;
    padding: 20px;
}
h2 {
    width: 100%;
    height: 40px; 
    font-size: 22px;
}
.card-wrap {
    top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.card {
width: 100%;
}
.image {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 auto;
}
.icon {
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
    border-radius: 50%;
    background: cyan;
}
.others {
    margin: 40px auto;
    width: 193px;
    height: 40px;
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #ff4e50;
    border: 3px solid #ff4e50;
}


/* TABLET */

@media (min-width: 768px) {
.wrapper {
    max-width: 768px;
}
.head {
    min-width: 768px;
    width: 100%;
    background: url(../img/background/horizontal.png) center no-repeat #222; 
}
.logo {
    top: 26px;
    left: 49px;
}
.options {
    justify-content: flex-end;
}
.title {
    margin-top: 90px;
    height: 105px;
}
.horizontal{
    display: block;
}
.mobile {
    display: none;
}
.search {
    width: 225px;
}
.partners {
    max-width: 768px;
}   
.card-wrap{
    justify-content: center;
} 
.card {
    width: 40%;
}
}

/* DESKTOP */
@media (min-width: 1200px) {
.wrapper {
    max-width: 1200px;
}
.head {
    width: 100%;
    max-width: 1200px;
}
.logo {
    left: 150px;
}
.sign {
    margin: 40px auto;
}
header {
    padding: 0 130px;
}    
.partners {
    max-width: 1200px;
} 
.card {
    width: 25%;
}
}