{{#each this}}
<div class="card">
    <div class="info">
        <p><span class="thesis">Capital: </span> {{capital}}</p>
        <p><span class="thesis">Population: </span>{{population}}</p>
        <p><span class="thesis">Languages:</span>
        <ul>
            {{#each languages}}
            <li>{{name}}</li>
            {{/each}}
        </ul></p>
    </div>
    <div class="img">
        <img src="{{flag}}">
    </div>
</div>
{{/each}}