@-webkit-keyframes photo-position{
    from { top: 0; left: 0;}
    to { top: -10px; left: -10px;}}
    @keyframes photo-position{
    from { top: 0; left: 0;}
    to { top: -10px; left: -10px;}}
    picture {
        position: absolute;
        z-index: 1;
        width: 380px;
        height: 470px;}
.card{
    width: 380px;
    height: 650px;
    text-align: center;
    position: relative;
&:hover{
        top: -10px;
        left: -10px;
        animation-name: photo-position;
        animation-duration: 0.3s;}
&:hover .overlay-card{opacity: 1;} 
}
    .name {margin-top: 512px;}
    .position{
    top: 512px;
    font-size: 15px;
    line-height: 40px;
    height: 16px;
    color:$grey;
    text-align: center;
    font-style: oblique;
    font-weight: 300;}
    
       
    .overlay-card{
    position: absolute;
    width: 380px;
    height: 470px;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s;
    background: $gradient;
            box-shadow: 10px 10px $green;
    display: flex;
    align-content: center;}



    .buttons{
    height: 56px;
    width: 223px;
    display: flex;
    margin: auto;}
    .networks svg {
        width: 25px;
        height: 25px;
        fill: $strawberry;
      }
    
    .networks {
      width: 56px;
      height: 56px;
      background-color: $yellow;
      display: flex;
              align-items: center;
              justify-content: center;
      margin-right: 1.5px;
 &:hover{background: $green;}  &:hover .icon{fill: $white;}}
