#service {margin-top: 30px;& img:hover {
    color: $black;   } 
.services {
width: 1220px;
height: 240px;
margin: 66px auto 0;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;}
.block__service {
width: 330px;
height: 70px;
display: flex;
justify-content: space-between;&:nth-of-type(n+4) {margin-top: 100px;}}
.service--info {width: 270px;height: 70px;}
.service--name {line-height: 10px;text-align: left;}
.service--descritpion {margin-top: 10px;}

}