#contact {padding-top: 92px;}
.description--team{
width: 941px;
margin: 46px auto;
text-align: center;}
.team{
width: 1220px;
display: flex;
justify-content: space-between;
margin: 80px auto 0;}

