.contacts {
	list-style: none;
	padding: 0;
	width: 300px;
}

.contact {
	display: flex;
	justify-content: space-between;
	width: 296px;
	padding: 15px 10px;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
}
