.pageNav {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	background-color: #5c0828bd;
}

.pageNav div {
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;
}

.pageNav ul {
	display: flex;
	width: 100%;
	justify-content: space-around;
	list-style: none;
}

.pageNav a {
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

.pageNav a:hover {
	transition: color 1s;
	color: rgb(240, 179, 87);
}

@media screen and (max-width: 500px) {
	.pageNav ul {
		flex-direction: column;
	}
	.pageNav a {
		padding-bottom: 5px;
	}
}