@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');
body {
	background-color: #f0f3f6;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	overflow-x: hidden;
}