.movieCard {
	display: flex;
	padding: 20px 0;
}

.movieCard img {
	width: 280px;
	height: 100%;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px 0 black;
}

.overview {
	width: 50%;
	padding: 20px;
	margin-left: 50px;
	text-align: justify;
}

button {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	background-color: #b10058;
	outline: none;
	border: none;
}

button:hover {
	box-shadow: 0 2px 4px 0 black;
}

@media screen and (max-width: 500px) {
	.movieCard {
		flex-direction: column;
		align-items: center;
	}
	.movieCard img {
		width: 340px;
	}
}