body {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	text-align: center;
	margin: 0 auto 20px;
}

a {
	color: rgb(153, 33, 103);
}

.Loader {
	justify-content: center;
}