/*
* Стили компонента Buton (Load more)
*/
.ButtonLoadMore {
	justify-self: center;
	padding: 8px 16px;
	border-radius: 2px;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
	text-align: center;
	display: inline-block;
	color: #fff;
	border: 0;
	text-decoration: none;
	cursor: pointer;
	font-family: inherit;
	font-size: 18px;
	line-height: 24px;
	font-style: normal;
	font-weight: 500;
	min-width: 180px;
	background-color: rgba(218, 209, 77, 0.836);
	box-shadow: rgba(197, 138, 197, 0.781) 5px 5px 5px;
	color: white;
	outline: none;
}

.ButtonLoadMore:hover,
.ButtonLoadMore:focus {
	background-color: rgba(197, 138, 166, 0.938);
	box-shadow: rgba(218, 208, 77, 0.411) 5px 5px 5px;
}
